/* //meeting page styles */
.meet{
    font-family: 'Garamond';
}
.meetbtn{
    border: 2px solid;
    border-width: thin;
    border-radius: 15px;
    padding: 7px 25px 7px 15px;
}
.meetcard{
    margin: -60px 0 0 30px;
}
.meetimg{
    border-radius: 15px;
}
.head-title{
    list-style-type: none;
    padding-left: 250px;
}
.head-title li{
    padding-left: 35px;
}
.head-title1{
    list-style-type: none;
    padding-left: 250px;
}
.head-title1 li{
    padding-left: 15px;
}
@media all and (max-width: 768px) {
    .head-title {
        padding: 10px; /* Reduce padding */
        display: flex;
        flex-direction: column; /* Stack elements vertically */
    }
}
@media all and (max-width: 768px) {
    .head-title1 {
        padding: 10px; /* Reduce padding */
        display: flex;
        flex-direction: column; /* Stack elements vertically */
    }
}
@media all and (min-width: 768px) {
    .bottom-card{
        height: 60%;
        padding: 50px 350px 170px 70px;
    }
}
@media all and (min-width: 768px) {
    .bottom-wid{
        width: 60%;
        margin: -570px 0 0 600px;
    }
}
.img-bot{
    border-radius: 15px;
}
.bott{
    margin: 0 0 0 145px;
}
.Know-more{
    border: 2px solid ;
    border-width: thin;
    border-radius: 15px;
    padding: 7px 14px 7px 14px;
    margin: 0 0 0 125px;
    width: 40%;
    position: relative;
    width: 180px;
}
.view-offer{
    border: 2px solid ;
    border-width: thin;
    border-radius: 15px;
    padding: 7px 14px 7px 14px;
}
@media all and (min-width:768px) {
    .bott2{
        margin: 200px 0px 0 0px; 
    }
    .boxsha{
        box-shadow: 0px 0 1px 0;
    }
}
@media all and (min-width:768px) {
    .join-now{
        border: 1px solid;
        border-width: thin;
        border-radius: 20px;
        padding: 7px 15px 7px 10px;
    }
    .hoo{
        margin: 0 0 0 15px;
    }
}
.meet1:hover{
    color: rgb(235, 10, 10);
}
.meet1{
    font-family: 'Garamond';
}
.regis{
    text-align: center;
    font-family: 'Garamond';
}
.log1{
    padding: 60px 60px 0 60px;
}
.log2{
    padding: 60px 60px 0 60px;
}
@media all and (max-width: 768px) {
    .log1 {
        padding: 10px; /* Reduce padding */
        display: flex;
        flex-direction: column; /* Stack elements vertically */
    }
    .log2 {
        padding: 10px; /* Reduce padding */
        display: flex;
        flex-direction: column; /* Stack elements vertically */
    }
}
.forget{
    padding: 20px 60px 0 60px;
}

.icon-hov:hover{
    scale: 1.2;
    color: #f1f1f1;
}
.error{
    text-align: center;
    margin-top: 300px;
    
}

